h1 { color: #c6c3ab; font-size: 12px; font-family: "trebuchet ms", tahoma, sans-serif; font-weight: normal; font-style: normal; text-decoration: none; word-spacing: 2px; letter-spacing: 2px; margin: 0; padding: 0; }
h2 { color: #282d33; font-size: 18px; font-family: Futura, "trebuchet ms", tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; margin: 0; padding: 0; }
h3 { color: #282d33; font-size: 16px; font-family: Futura, "trebuchet ms", tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; margin: 0; padding: 5px 0; }
h4 { color: #a8acb2; font-size: 11px; font-family: "trebuchet ms", tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; margin: 0; padding: 5px 0; }
.txt1 { color: #636a73; font-size: 13px; font-family: "trebuchet ms", tahoma, sans-serif; font-weight: normal; font-style: normal; line-height: 25px; text-decoration: none; }
.txt2 { color: #a8acb2; font-size: 13px; font-family: "trebuchet ms", tahoma, sans-serif; font-style: normal; font-weight: normal; line-height: 25px; text-decoration: none; }
.txt3 { color: #a8acb2; font-size: 11px; font-family: "trebuchet ms", tahoma, sans-serif; font-style: italic; font-weight: normal; line-height: 23px; text-decoration: none; }
.txt4 { color: #7e8184; font-size: 13px; font-family: "trebuchet ms", tahoma, sans-serif; font-weight: normal; line-height: 18px; text-decoration: none; }
.txt5 { color: #7e8184; font-size: 12px; font-family: "trebuchet ms", tahoma, sans-serif; font-weight: normal; line-height: 18px; text-decoration: none; }
.li1_navi { color: #a8acb2; font-size: 12px; font-family: Futura, "trebuchet ms", tahoma, sans-serif; font-weight: normal; font-style: normal; text-decoration: none; }
.li2_navi { color: #636a73; font-size: 13px; font-family: Futura, "trebuchet ms", tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; }
.li3_navi { color: #a8acb2; font-size: 11px; font-family: Futura, "trebuchet ms", tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; }
.li1 { color: #a8acb2; font-size: 13px; font-family: "trebuchet ms", tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; padding-right: 10px; padding-left: 10px; }
.li2 { color: #636a73; font-size: 13px; font-family: "trebuchet ms", tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; padding-top: 5px; padding-bottom: 5px; }
.li3 { color: #a8acb2; font-size: 13px; font-family: "trebuchet ms", tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; }
.li1_footer { color: #464c56; font-size: 12px; font-family: "trebuchet ms", tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; padding-top: 5px; padding-bottom: 5px; }
.li2_footer { color: #a8acb2; font-size: 12px; font-family: "trebuchet ms", tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; padding-top: 5px; padding-bottom: 5px; }
a:link { color: #9c9975; text-decoration: none; }
a:visited { color: #9c9975; text-decoration: none; }
a:hover { color: #504a2c; text-decoration: none; }
a:active { color: #504a2c; text-decoration: none; }
a.linkcolor1_off:link { color: #a8acb2; text-decoration: none; }
a.linkcolor1_off:visited { color: #a8acb2; text-decoration: none; }
a.linkcolor1_off:hover { color: #504a2c; text-decoration: none; }
a.linkcolor1_off:active { color: #504a2c; text-decoration: none; }
a.linkcolor1_on:link { color: #504a2c; text-decoration: none; }
a.linkcolor1_on:visited { color: #504a2c; text-decoration: none; }
a.linkcolor1_on:hover { color: #504a2c; text-decoration: none; }
a.linkcolor1_on:active { color: #504a2c; text-decoration: none; }
a.linkcolor2_off:link { color: #a8acb2; text-decoration: none; }
a.linkcolor2_off:visited { color: #a8acb2; text-decoration: none; }
a.linkcolor2_off:hover { color: #504a2c; text-decoration: none; }
a.linkcolor2_off:active { color: #504a2c; text-decoration: none; }
a.linkcolor2_on:link { color: #504a2c; text-decoration: none; }
a.linkcolor2_on:visited { color: #504a2c; text-decoration: none; }
a.linkcolor2_on:hover { color: #504a2c; text-decoration: none; }
a.linkcolor2_on:active { color: #504a2c; text-decoration: none; }
a.linkcolor3_off:link { color: #a8acb2; text-decoration: none; }
a.linkcolor3_off:visited { color: #a8acb2; text-decoration: none; }
a.linkcolor3_off:hover { color: #504a2c; text-decoration: none; }
a.linkcolor3_off:active { color: #504a2c; text-decoration: none; }
a.linkcolor3_on:link { color: #504a2c; text-decoration: none; }
a.linkcolor3_on:visited { color: #504a2c; text-decoration: none; }
a.linkcolor3_on:hover { color: #504a2c; text-decoration: none; }
a.linkcolor3_on:active { color: #504a2c; text-decoration: none; }
a.linkcolor4:link { color: #b2b092; text-decoration: none; }
a.linkcolor4:visited { color: #b2b092; text-decoration: none; }
a.linkcolor4:hover { color: #504a2c; text-decoration: none; }
a.linkcolor4:active { color: #504a2c; text-decoration: none; }
